<header>
  <!--Top-->
  <nav id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong>Welcome to Us!</strong>
        </div>
        <div class="col-md-6">
          <ul class="list-inline top-link link">
            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="contact.html"><i class="fa fa-comments"></i> Contact</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i> FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!--Navigation-->
    <nav id="menu" class="navbar container">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      <a class="navbar-brand" href="#">
        <div class="logo"><span>IT-KN.COM</span></div>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <i class="fa fa-arrow-circle-o-down"></i></a>
          <div class="dropdown-menu" style="margin-left: -203.625px;">
            <div class="dropdown-inner">
              <ul class="list-unstyled">
                <% @share.categories.each do |category| %>
                  <li><a href="<%= category[:url] %>"><%= category[:name] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="contact.html"><i class="fa fa-envelope"></i> Contact</a></li>
      </ul>
      <ul class="list-inline navbar-right top-social">
        <li><a target="_blank" href="https://www.facebook.com/175484939624048"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </nav>
</header>